/*
*{
    cursor: url("/medias/Black-Void-Cursors_3495/暗黑虚空/normal.cur"),auto!important;
}
:active{
    cursor: url("/medias/Black-Void-Cursors_3495/暗黑虚空/normal.cur"),auto!important;
}
*/

body {
	cursor: url("/medias/Black-Void-Cursors_3495/暗黑虚空/normal.cur"), auto;
}
a {
	cursor: url("/medias/Black-Void-Cursors_3495/暗黑虚空/link.cur"), auto!important;
}

@font-face{
    font-family: '8';
    src: url('/font/8.ttf');
}

body{
    font-family: '8';
}

@font-face{
    font-family: '1';
    src: url('/font/1.otf');
}

.diy-font{
    font-family: '1';
}


@font-face{
    font-family: 'g';
    src: url('/font/g.ttf');/*4*/
}

.diy-Font{
    font-family: 'g';
}


